# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True

# Database Settings
DB_NAME=mini_booking_db
DB_USER=mini_booking_user
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432

# External APIs
WEATHER_API_URL=https://api.open-meteo.com/v1/forecast
PUBLIC_HOLIDAYS_API_URL=https://date.nager.at/api/v3/PublicHolidays 